<script lang="ts" setup>
import { ref } from "vue";
const text = ref("Smile");
const type = ref(6);
function change(index: number) {
  type.value = index;
  document.getElementById("button1")!.style.backgroundColor = "white";
  document.getElementById("button2")!.style.backgroundColor = "white";
  document.getElementById("button3")!.style.backgroundColor = "white";
  document.getElementById("button4")!.style.backgroundColor = "white";
  document.getElementById("button5")!.style.backgroundColor = "white";
  document.getElementById("button6")!.style.backgroundColor = "white";
  if (index === 6) {
    text.value = "Smile";
    document.getElementById("button6")!.style.backgroundColor = "yellow";
  } else if (index === 1) {
    text.value = "Angry";
    document.getElementById("button1")!.style.backgroundColor = "yellow";
  } else if (index === 2) {
    text.value = "Cute";
    document.getElementById("button2")!.style.backgroundColor = "yellow";
  } else if (index === 3) {
    text.value = "Excited";
    document.getElementById("button3")!.style.backgroundColor = "yellow";
  } else if (index === 4) {
    text.value = "Pain";
    document.getElementById("button4")!.style.backgroundColor = "yellow";
  } else if (index === 5) {
    text.value = "Shocked";
    document.getElementById("button5")!.style.backgroundColor = "yellow";
  }
}
</script>
<template>
  <v-container>
    <v-row cols="12">
      <v-col>
        <img v-if="type === 1" src="feeling_imgs/angry.png" />
        <img v-if="type === 2" src="feeling_imgs/cute.png" />
        <img v-if="type === 3" src="feeling_imgs/excited.png" />
        <img v-if="type === 4" src="feeling_imgs/pain.png" />
        <img v-if="type === 5" src="feeling_imgs/shocked.png" />
        <img v-if="type === 6" src="feeling_imgs/smile.png" />
      </v-col>
      <v-col>
        <div style="text-align: center; margin-top: 100px; margin-bottom: 20px">
          {{ text }}
        </div>
        <v-btn @click="change(1)" id="button1" style="width: 100%" class="ma-3">
          ANGRY</v-btn
        >
        <v-btn @click="change(2)" id="button2" style="width: 100%" class="ma-3">
          CUTE</v-btn
        >
        <v-btn @click="change(3)" id="button3" style="width: 100%" class="ma-3">
          EXCITED</v-btn
        >
        <v-btn @click="change(4)" id="button4" style="width: 100%" class="ma-3">
          PAIN</v-btn
        >
        <v-btn @click="change(5)" id="button5" style="width: 100%" class="ma-3">
          SHOCKED</v-btn
        >
        <v-btn @click="change(6)" id="button6" style="width: 100%" class="ma-3">
          SMILE</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
