<script lang="ts" setup>
import { ref } from "vue";
const index = ref();
</script>

<template>
  <v-text-field
    type="number"
    label="Please input Number"
    v-model.number="index"
    :rules="[(v) => !!v || 'Number is not empty!!']"
    required
  ></v-text-field>

  <v-row class="ma-1">
    <v-btn
      variant="text"
      v-for="i in index"
      :key="i"
      width="7.5%"
      height="50px"
      class="ma-1"
      style="text-align: center"
    >
      <br />
      {{ i }}
    </v-btn>
  </v-row>
</template>
